@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>

<p>Here's how you can reach us:</p>



@foreach (var item in @Model)
{
    <tr>
        <td>@item.Key</td>
        <td>@item.Value</td>
    </tr>
}